<div class="container pt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active truncate-text" aria-current="page">Articles</li>
        </ol>
    </nav>
    <div class="row">
        <nav aria-label="Page navigation" class="col-md-4">
            <ul class="pagination">
                <li class="page-item" [ngClass]="{disabled: page === 0}"><a class="page-link" href="javascript: void(0)"
                        (click)="changePage(page-1)">Previous</a></li>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">
                        {{page+1}}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                <li class="page-item" [ngClass]="{disabled: page >= pageLimit || !articles || !articles.length}"><a
                        class="page-link" href="javascript: void(0)" (click)="changePage(page+1)">Next</a></li>
            </ul>
        </nav>
        <div class="col-md-4">
            <input class="form-control form-control-md" type="text" placeholder="Enter text and press enter to search"
                [(ngModel)]="searchKeyword" (keydown)="search($event)">
        </div>
        <div class="col-md-4">
            <select class="form-control form-control-md" [(ngModel)]="sort" (change)="changeSorting()">
                <option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">{{sortOption.label}}</option>
            </select>
        </div>
    </div>
    <div *ngIf="isLoading" class="spinner-border text-center" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div *ngFor="let article of articles" class="card mb-3">
        <div class="row no-gutters">
            <div *ngIf="article.multimedia.length" class="col-md-4">
                <img [src]="getImageUrl(article)" class="card-img mr-3" [alt]="article.abstract">
            </div>
            <div [ngClass]="{'col-md-8': article.multimedia.length, 'col-md-12': !article.multimedia.length}">
                <div class="card-body">
                    <a href="javascript: void(0)" [routerLink]="getArticleUrl(article)">
                        <h5 class="card-title">{{article.headline.main}}</h5>
                    </a>
                    <p class="card-text text-justify">{{article.lead_paragraph}}</p>
                    <a href="javascript: void(0)" [routerLink]="getArticleUrl(article)">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>