<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <!-- logo -->
    <div class="navbar-brand">
        <a class="navbar-item" href="https://www.nytimes.com/" target="_blank">
            <!-- The new york times -->
            <img src="assets/app-logo.svg" height="30" alt="">
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [ngClass]="{active: isActiveRoute('/articles')}" href="/articles">Articles </a>
            </li>
        </ul>
    </div>
</nav>