<div class="container">
  <div *ngIf="isLoading; else elseBlock" class="spinner-border text-center" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <ng-template #elseBlock>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item"><a routerLink="/articles">Articles</a></li>
        <li class="breadcrumb-item active truncate-text" aria-current="page">{{article.headline.main}}</li>
      </ol>
    </nav>
    <a routerLink="/articles">Back</a>
    <h3>
      {{article.headline.main}}
    </h3>
    <div *ngIf="article.multimedia.length">
      <img [src]="getImageUrl(article)" class="card-img mr-3" [alt]="article.abstract">
    </div>
    <sup>
      Visit website: <a [href]="article.web_url" target="_blank">{{article.web_url}}</a>
    </sup>
    <p>
      <b>
        Date published:
      </b>
      {{article.pub_date|date: "MMM dd, yyyy, h:mm a"}}</p>
    <p *ngIf="!!article.section_name">
      <b>Section:</b>
      {{article.section_name}}
    </p>
    <p *ngIf="!!article.subsection_name">
      <b>Sub Section:</b>
      {{article.subsection_name}}
    </p>
    <p *ngIf="!!article.document_type">
      <b>Document type:</b>
      {{article.document_type}}
    </p>
    <p *ngIf="!!article.source">
      <b>Source:</b>
      {{article.source}}
    </p>
    <p *ngIf="!!article.abstract">
      {{article.abstract}}
    </p>
    <p *ngIf="!!article.lead_paragraph">
      {{article.lead_paragraph}}
    </p>
  </ng-template>
</div>